body{
    position: relative;
    background: #2B2E3D;
    margin:0;
    overflow: auto;
   overflow-y:hidden;
    overflow-x:hidden;
}



.icon{
    position: relative;
    bottom:10px;
    margin:0;
    width: 80px;
    height:80px;
    border:1px solid #000000;
    border-radius: 40px;
    background:url("../img/icon/icon1.jpg") no-repeat center;
    background-size:80px 80px;

}
.wrapper{
    position:relative;
    width:100%;
    padding:0;
}


.intro{
    padding:10px;
    position: relative;
    width:100%;
    background:url("../img/bg/intro2.jpg") no-repeat center;
    background-size:90%;
}

.select{
    width:25px;
    height:70px;
    position: fixed;
    right:5px;
    background: rgba(0,0,0,0);
    text-align: center;

}
.select button{
    width:20px;
    height:20px;
    border-radius: 10px;
    border:1px solid lightgreen;
    outline:none;
    opacity: 0.2;
}
.select button:hover{
    opacity: 0.5!important;
}

/*.up img{*/
    /*position: fixed;*/
    /*right:5px;*/
    /*width:80px;*/
    /*height:80px;*/
/*}*/

.content{
    position: relative;
}

/*.down{*/
    /*width:50px;*/
    /*height:50px;*/
    /*position: fixed;*/
    /*right:5px;*/
    /*background: rgba(0,0,0,0);*/
    /*border:none;*/
    /*outline:none;*/
/*}*/

/*.down img{*/
    /*position: fixed;*/
    /*right:5px;*/
    /*width:80px;*/
    /*height:80px;*/
/*}*/
.content1,.content2{
    margin-top:60px;
    margin-left:50px;
    border:1px solid #ffffff;
    background: #ffffff;
    -webkit-box-shadow:2px 2px 5px rgb(159,159,159);
    text-align: center;
 }

.content1 img,.content2 img{
    margin-left:auto;
    margin-right:auto;
}

